*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* contacts */
.contacts{
    display: flex;
    align-items: center;
    height: 35px;
}
.contacts .conc-contents{
    display: flex;
    justify-content: end;
    align-items:center;

    width: 100%;
}
.contacts .conc-contents ul{
    display: flex;
    vertical-align: center;
    margin: 0;
    padding: 0;
   
}
.contacts .conc-contents ul li{
    margin-left: 15px;
    cursor: pointer;
}
.contacts .conc-contents ul li span{
    color:  rgb(152, 151, 151);
    font-size: 13px;
    font-weight: 600;
}




/* nav-bar */
.nav-bar {
    display: flex;
    background: rgba(180, 221, 255, 0.68);
  }
  .nav-bar .nav-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
 }
  .middle-nav{
    display: flex;
  }
  .middle-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .middle-nav li {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .right .btn {
    background-color: #002f61;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 35px;
    cursor: pointer;

  }
  
  .right .btn:hover {
    background-color: #0056b3;
  }
  .Logo{

  }
  .Logo img{
    width: 100px;
    height: 75px;
  }
  